body {
  margin: 0 auto;
}

.App {
  margin : 3em auto;
  padding: 3em;
  box-sizing: border-box;
  width: 600px;
}

input {
  padding: 1em;
  width: 100%;
  box-sizing: border-box;
  font-size: 1.5em;
  margin-bottom: 10px;
}

button {
  font-size: 1.5em;
  padding: 1em 1.5em;
}